<%= form_with(model: temperature, local: true) do |form| %>
  <% if temperature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temperature.errors.count, "error") %> prohibited this temperature from being saved:</h2>

      <ul>
      <% temperature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sensor_id %>
    <%= form.number_field :sensor_id, id: :temperature_sensor_id %>
  </div>

  <div class="field">
    <%= form.label :temp %>
    <%= form.text_field :temp, id: :temperature_temp %>
  </div>

  <div class="field">
    <%= form.label :day %>
    <%= form.date_select :day, id: :temperature_day %>
  </div>

  <div class="field">
    <%= form.label :at %>
    <%= form.time_select :at, id: :temperature_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
