<p id="notice"><%= notice %></p>

<p>
  <strong>Sensor:</strong>
  <%= @temperature.sensor_id %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @temperature.temp %>
</p>

<p>
  <strong>Day:</strong>
  <%= @temperature.day %>
</p>

<p>
  <strong>At:</strong>
  <%= @temperature.at %>
</p>

<%= link_to 'Edit', edit_temperature_path(@temperature) %> |
<%= link_to 'Back', temperatures_path %>
